@page
@model Geek.MvcClient.Pages.IndexModel
@{
    <h1>Page-Index</h1>
    <div>Name: @User.Identity.Name </div>
    foreach (var claim in User.Claims)
    {
        <div>@claim.Type</div>
        <div>@claim.Value</div>
        <br/>
    }
    <a href="logout">logout</a>
}

