@page
@using Microsoft.AspNetCore.Authentication;
@model Geek.MvcClient.Pages.IndexModel
@{
    <h1>Page-Index</h1>
    <div>Name: @User.Identity.Name </div>
    foreach (var claim in User.Claims)
    {
        <div>@claim.Type</div>
        <div>@claim.Value</div>
        <br/>
    }
    <div>Access_Token: @await ViewContext.HttpContext.GetTokenAsync("access_token") </div>
    <a href="logout">logout</a>
}

